*{
	box-sizing: border-box;
}

img{
	border-radius: 3%;
}

.navlink{
	font-size: 3rem;
	text-align: center;
}

.navlink:hover{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.navlink:active{
	background: #eee;
}

.navlink a{
	color: black;
}

#navbar{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.row{
	margin: 20px 0;
}

.project{
	border-bottom: 1px solid #aaa;
}

.project-title{
	padding: 10px;
	text-align: center;
}

.project-description{
	padding: 10px;
}

a{
	text-decoration: none;
	color: navy;
}

.heading{
	text-align: center;
}