#whackamole-game{
	height: 75vmin;
	position: relative;
}

#graphic-timer{
	height: 75vmin;
	background-color: firebrick;
}

.game-tile{
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
}

.active{
	background-color: navy;
}

.options-element{
	box-sizing: border-box;
	border: 1px solid;
}

#options-area{
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.5);
	background-color: green;
	text-align: center;
	padding: 10vmin 20vmin;
	border-radius: 5%;
}

#options-area *{
	font-family: 'Ubuntu Mono', monospace;
}

h2,
label,
select,
button,
h3{
	font-size: 3em;
}

#game-display{
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
}

#game-display h3{
	margin: 10px 0;
}

#message-display{
	color: black;
}

.options-select{
	display: block;
	margin: 10px;
}

.display-element{
	position: relative;
	display: inline-block;
}

h2,
label{
	color: white;
}

button{
	padding: 10px 15px;
	color: white;
	background-color: black;
	margin-top: 20px;
}
