#whackamole-game{
	height: 75vmin;
	width: 90vmin;
	position: relative;
	display: block;
}

#graphic-timer{
	height: 500px;
	width: 20px;
	position: absolute;
	bottom: 0;
	right: -30px;
	background-color: firebrick;
}

#whackamole-game,
#options-area,
#game-display{
	float: left;
	margin: 50px;
}

.game-tile{
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
}

.active{
	background: url(/img/mole.jpg);
	background-size: cover;
}

.options-element{
	box-sizing: border-box;
	border: 1px solid;
}

#options-area{
	position: fixed;
	top: 50px;
	left: 250px;
	margin: auto;
	box-shadow: 0 0 0 1000px rgba(0,0,0,0.5);
	background-color: green;
	margin: 0 auto;
	text-align: center;
	padding: 50px 100px;
	border-radius: 5%;
}

#options-area *{
	font-size: 2.5em;
}

#game-display{
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
	width: 80vmin;
	margin-left: 10vmin;
}

#game-display h3{
	font-size: 2.5em;
}

#message-display{
	color: black;
}

.options-select{
	display: block;
	margin: 10px;
}

.display-element{
	position: relative;
	display: inline-block;
}

h2,
label{
	color: white;
}

button{
	padding: 10px 15px;
	color: white;
	background-color: black;
	margin-top: 20px;
}


